In [20]:
import tensorflow as tf
from tensorflow import keras
import numpy as np
from keras.preprocessing.image import ImageDataGenerator
from keras.utils.np_utils import to_categorical
from keras.layers import Dense, Dropout, Flatten, Conv2D, MaxPool2D

In [2]:
from google.colab import drive

In [3]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
import pandas as pd

In [5]:
df_train = pd.read_csv("/content/drive/MyDrive/Mnist_Datasets/train.csv")

In [6]:
df_test = pd.read_csv("/content/drive/MyDrive/Mnist_Datasets/test.csv")

In [7]:
df_train.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
X = df_train.iloc[: , 1:]

In [9]:
X =X/255.0

In [10]:
X = X.values.reshape(-1,28,28,1)

In [11]:
Y = df_train.iloc[ :,0]

In [12]:
Y = to_categorical(Y, num_classes = 10)

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test,y_train, y_test = train_test_split(X, Y, test_size=0.20, random_state =42)

In [14]:
Test = df_test

In [15]:
Test= Test/255.0

In [16]:
Test = Test.values.reshape(-1,28,28,1)

In [17]:
import matplotlib.pyplot as plt
%matplotlib inline

In [18]:
model = keras.Sequential()

In [21]:
model.add(Conv2D(filters = 32, kernel_size = (5,5),padding = 'Same', 
                 activation ='relu', input_shape = (28,28,1)))
model.add(Conv2D(filters = 32, kernel_size = (5,5),padding = 'Same', 
                 activation ='relu'))
model.add(MaxPool2D(pool_size=(2,2)))
model.add(Dropout(0.25))


model.add(Conv2D(filters = 64, kernel_size = (3,3),padding = 'Same', 
                 activation ='relu'))
model.add(Conv2D(filters = 64, kernel_size = (3,3),padding = 'Same', 
                 activation ='relu'))
model.add(MaxPool2D(pool_size=(2,2), strides=(2,2)))
model.add(Dropout(0.25))


model.add(Flatten())
model.add(Dense(256, activation = "relu"))
model.add(Dropout(0.5))
model.add(Dense(10, activation = "softmax"))

In [22]:
# model.add(keras.layers.Dense(20, input_shape=(28,28,1), activation='relu',kernel_initializer='he_uniform' ))
# model.add(keras.layers.Dense(15,  activation='relu',kernel_initializer='he_uniform' ))
# model.add(keras.layers.Dense(10,  activation='softmax'))

In [33]:
model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

In [31]:
datagen = ImageDataGenerator(
        featurewise_center=False,  # set input mean to 0 over the dataset
        samplewise_center=False,  # set each sample mean to 0
        featurewise_std_normalization=False,  # divide inputs by std of the dataset
        samplewise_std_normalization=False,  # divide each input by its std
        zca_whitening=False,  # apply ZCA whitening
        rotation_range=10,  # randomly rotate images in the range (degrees, 0 to 180)
        zoom_range = 0.1, # Randomly zoom image 
        width_shift_range=0.1,  # randomly shift images horizontally (fraction of total width)
        height_shift_range=0.1,  # randomly shift images vertically (fraction of total height)
        horizontal_flip=False,  # randomly flip images
        vertical_flip=False)  # randomly flip images


datagen.fit(X_train)

In [25]:
batch_size =86
epochs = 15

In [34]:
history = model.fit(datagen.flow(X_train,y_train, batch_size=batch_size),
                              epochs = epochs, validation_data = (X_test,y_test),
                              verbose =2, steps_per_epoch=X_train.shape[0]//batch_size
                              )

Epoch 1/15
390/390 - 13s - loss: 0.0415 - accuracy: 0.9878 - val_loss: 0.0198 - val_accuracy: 0.9938 - 13s/epoch - 32ms/step
Epoch 2/15
390/390 - 9s - loss: 0.0417 - accuracy: 0.9876 - val_loss: 0.0253 - val_accuracy: 0.9925 - 9s/epoch - 23ms/step
Epoch 3/15
390/390 - 10s - loss: 0.0414 - accuracy: 0.9879 - val_loss: 0.0183 - val_accuracy: 0.9945 - 10s/epoch - 25ms/step
Epoch 4/15
390/390 - 9s - loss: 0.0370 - accuracy: 0.9886 - val_loss: 0.0190 - val_accuracy: 0.9946 - 9s/epoch - 24ms/step
Epoch 5/15
390/390 - 9s - loss: 0.0378 - accuracy: 0.9888 - val_loss: 0.0198 - val_accuracy: 0.9936 - 9s/epoch - 23ms/step
Epoch 6/15
390/390 - 9s - loss: 0.0362 - accuracy: 0.9895 - val_loss: 0.0242 - val_accuracy: 0.9926 - 9s/epoch - 24ms/step
Epoch 7/15
390/390 - 10s - loss: 0.0359 - accuracy: 0.9896 - val_loss: 0.0180 - val_accuracy: 0.9939 - 10s/epoch - 25ms/step
Epoch 8/15
390/390 - 9s - loss: 0.0362 - accuracy: 0.9890 - val_loss: 0.0229 - val_accuracy: 0.9925 - 9s/epoch - 23ms/step
Epoch 9/15
390/390 - 9s - loss: 0.0354 - accuracy: 0.9893 - val_loss: 0.0196 - val_accuracy: 0.9938 - 9s/epoch - 23ms/step
Epoch 10/15
390/390 - 9s - loss: 0.0318 - accuracy: 0.9906 - val_loss: 0.0161 - val_accuracy: 0.9954 - 9s/epoch - 24ms/step
Epoch 11/15
390/390 - 10s - loss: 0.0338 - accuracy: 0.9901 - val_loss: 0.0235 - val_accuracy: 0.9939 - 10s/epoch - 24ms/step
Epoch 12/15
390/390 - 9s - loss: 0.0324 - accuracy: 0.9910 - val_loss: 0.0228 - val_accuracy: 0.9942 - 9s/epoch - 23ms/step
Epoch 13/15
390/390 - 9s - loss: 0.0320 - accuracy: 0.9904 - val_loss: 0.0203 - val_accuracy: 0.9935 - 9s/epoch - 23ms/step
Epoch 14/15
390/390 - 9s - loss: 0.0314 - accuracy: 0.9904 - val_loss: 0.0208 - val_accuracy: 0.9938 - 9s/epoch - 23ms/step
Epoch 15/15
390/390 - 9s - loss: 0.0298 - accuracy: 0.9908 - val_loss: 0.0194 - val_accuracy: 0.9937 - 9s/epoch - 23ms/step

In [36]:
predicted = model.predict(Test)

In [37]:
predicted.shape

(28000, 10)

In [ ]:
predicted[0][0]

In [38]:
 m =np.argmax(predicted,axis=1)

In [39]:
m = pd.Series(m, name='Label')

In [40]:
submission = pd.concat([pd.Series(range(1,28001),name = "ImageId"),m],axis = 1)

In [42]:
submission.to_csv("cnn_mnist_datagen.csv",index=False)